.parallax_wrapper{
    font-size: 4em;
    color:white;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;

    text-align: center;
    align-items: center;

}
.parallax_wrapper::-webkit-scrollbar{
    display: none;
}

.parallax_wrapper .intro_screen{
    height: 100vh;
    background-color: tomato;


    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax_wrapper .outro_screen{
    height: 100vh;
    background-color: teal;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax_wrapper .parallax_group{
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    
}

.parallax_wrapper .parallax_layer{
    position: absolute;
    inset: 0;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax_wrapper .base_layer{
    /* scale calculation: 1 + ((Z transform value * -1) / perspective) */
    transform: translateZ(-300px) scale(2);
}

.parallax_wrapper .mid_layer{
    transform: translateZ(0);
}

.parallax_wrapper .top_layer{
    transform: translateZ(200px) scale(0.3)
}

#inrto{
    z-index: 0;
}

#group-1{
    z-index: -1;
}

#group-1 > .base_layer{
    background-color: crimson;
}

#group-2{}

#group-2 > .mid_layer{
    background-color: yellowgreen;
}

group-3{}
